/* Nav Bar */
.nav-wrapper {
  background: rgba(223, 231, 233, 0.4);
  padding: 10px 0 0 15px;
  min-height: 82px;
}
nav {
  background: rgba(223, 231, 233, 0.4);
  height: 82px;
}
.name-logo {
  font-size: 2.5rem;
  text-shadow: -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff,
    -0.5px 0.5px 0 #ffffff, 0.5px 0.5px 0 #ffffff;
  color: #2c5c71;
}
#nav-links {
  padding: 0 20px 0 0;
}
.links {
  font-size: 1.2rem;
  text-shadow: -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff,
    -0.5px 0.5px 0 #ffffff, 0.5px 0.5px 0 #ffffff;
  color: #2c5c71;
}
#mobile-demo .links {
  color: #2c5c71;
  text-shadow: none;
  font-size: 1rem;
}
/* Intro Banner */
#intro-banner {
  min-height: 750px;
  background-image: url("img/unsplash1.jpg");
}
#intro-text {
  padding: 120px 0 0 0;
}
/* AboutMe Banner */
#aboutMe-banner {
  min-height: 525px;
  background: rgba(223, 231, 233, 0.8);
}
#bio-container {
  padding: 60px 0 0 0;
}
#bio h4 {
  font-size: 2rem;
  padding-top: 20px;
}
#bio p {
  font-size: 1.1rem;
}
#bio #resume-btn {
  background-color: #2c5c71;
  margin-top: 15px;
}
#prof {
  border-radius: 50%;
  height: 300px;
}

/* Works Banner */
#index-banner {
  min-height: 880px;
}
#portfolio-section {
  width: 85%;
  margin: auto;
  margin-top: 85px;
  margin-bottom: 65px;
}
.toolbar button {
  margin: 5px;
  font-size: 1rem;
}
.toolbar button:hover {
  color: #ffffff;
  background-color: #2c5c71;
}
.toolbar button:focus {
  color: #ffffff;
  background-color: #2c5c71;
}
#portfolio {
  padding-top: 35px;
}
/*Works*/
#portfolio {
  margin: 1rem 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}
.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.scale-anm {
  transform: scale(1);
}
.tile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.btn {
  font-family: Lato;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: 0.5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid;
  vertical-align: middle;
  -webkit-appearance: none;
  color: #555;
  background-color: rgba(0, 0, 0, 0);
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.page-footer {
  background: rgba(223, 231, 233, 0.8);
}
#contact-section {
  min-height: 400px;
}
#contact-section h4 {
  color: #2c5c71;
}
form {
  width: 65%;
  margin: auto;
}
#form-name {
  min-height: 50px;
  width: 100%;
  background-color: #2c5c71;
  color: #ffffff;
  border-radius: 25px;
  margin-top: 50px;
  text-align: center;
}
#form-name:focus {
  outline: 0;
}
#form-email {
  min-height: 50px;
  width: 100%;
  background-color: #2c5c71;
  color: #ffffff;
  border-radius: 25px;
  margin-top: 15px;
  text-align: center;
}
#form-email:focus {
  outline: 0;
}
#form-subject {
  min-height: 50px;
  width: 100%;
  background-color: #2c5c71;
  color: #ffffff;
  border-radius: 25px;
  margin-top: 15px;
  text-align: center;
}
#form-subject:focus {
  outline: 0;
}
#form-message {
  min-height: 150px;
  width: 100%;
  background-color: #2c5c71;
  color: #ffffff;
  border-radius: 25px;
  margin-top: 15px;
  text-align: center;
  resize: none;
}
#form-message:focus {
  outline: 0;
}
#form-send {
  background-color: #2c5c71;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 25px;
  margin: 15px 0 50px 0;
}
.footer-copyright i {
  color: #2c5c71;
}
